* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

nav {
	font-size: 1.6rem;
	font-family: ;
	background: #D3D3D3;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	margin-right: 20px;
	margin-left: 20px;
}

.telno {
	
	
}
.container {
	display: flex;
	justify-content: space-between;
}

.mainLinks {
	display: flex;
	flex-direction: row;
	font-size: 1.5rem;
}

ul {
	list-style: none;	
}

